 <!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS: <%= @page_title || "Admin Area" %></title>
  </head>
  <body>


  <!-- before yield -->
  <%= yield %>
  <!-- after yield -->

  </body>
</html>